body{
     background-image: url(../imgs/54a4a22596a48d24576bfe912d73640.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
.mybody{
    width: 1680px;
    height: 900px;
    border: 1px solid  black;
     margin: 0 auto;
     
}
.head{
    width: 1200px;
    height: 200px;
   /* background-color: rgb(243, 185, 185); */
   margin:auto;
  
}
.content{
    width: 1200px;
    height: 700px;
    /* background-color: white; */
    margin: auto;
}
table {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

thead tr {
    height: 40px;
    background-color: rgb(217, 126, 146);
}

td,
th {
    border: 1px solid rgb(80, 73, 73);
}